<!-- Footer -->
<footer style="background-color: white; color: rgb(202, 140, 25);">

    <!-- Some contact details -->
      <div class="contact-details">
          <div>
            EMAIL: XXX
          </div>
          <div>
            CALL: XXX
          </div>
          <div>
            WE TAKE CARE YOUR FUTURE
          </div>
      </div>
      <hr>
    

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="font-size: 20px;">© 2020 Copyright:
      <b>KL GLOBAL INNOVATIONS</b>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
