#logo-image{
    text-align: center;
    //margin-top: 10vh;
    background-color: rgb(0, 0, 0);
    //height: 100vh;
    opacity: 0.9;
}

#myVideo {
    width: 100%;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.content {
    //position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }



// @media only screen and (max-width: 400px) {
//     #logo-image{
//         background-color: rgb(177, 42, 42);
//     }
//   }

.company-info-content01{
    padding-top: 5em; 
    padding-bottom: 15em; 
    font-size: 18px;
    background: black;
    padding-left: 0.5em;
    opacity: 0.8;
    height: 100vh;

    .container{
        display: flex; 
        font-size: 20px; 
        margin-bottom: 5%; 
    }

    #company-info-content01-btn{
        margin-top: 5vh;
    }
}

@media screen and (max-width: 1100px) {
    #logo-image{
        padding-top: 50%;
        height: 100vh;
    }

    .company-info-content01{
        height: 100vh;
        padding-top: 20%; 
    }
}

.head-main-heading{
    display: flex;
    font-size: 30px;
    text-align: center;
    align-content: center;
}

.card:hover{
    opacity: 0.9;
}

.single-profile{

    text-align: center;

    .card-img-top-profile{
        max-width: 10em;
        border-radius: 50em;
        align-self: center;
        padding-top: 2%;
    }
}
