<app-main-navbar></app-main-navbar>


<div id="logo-image">
  <div><img src="./assets/logo.png" alt="logo" style="width:40%; position: inherit;"></div>
</div>

<div class="company-info-content01">
  <div class="container" style="color: white;">
    TAKING YOU TO &nbsp;<div style="color: rgb(202, 140, 25);"> <b>DIGITAL FRONTIER</b></div>
  </div>

  <p style="color: white; max-width: 45em;"><b>MARGINS ARE UDER PRESSURE AND COMPETITION IS INTENSIFYING FOR INDUSTRIAL BUSINESSES TO GROW UP.
      EFFICIENTLY MANAGING OF INDUSTRIAL ACTIVITIES BY ADPOTING TO LATEST DATA-DRIVEN, INTERGRATED
      PROCESSES AND SYSTEMS IS A KEY POINT TO BECOME ONE OF THE WIINNERS IN THE FUTURE.
      LEARN MORE ABOUT KL GLOBAL SOLUTIONS TO BECOME CHALLENGING PLAYER IN THE COMPETITIVE MARKET.</b>
  </p>
  <!-- More Information Button -->
  <button type="button" class="btn btn-outline-danger" id="company-info-content01-btn">
      FOR MORE INFORMATION
      <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
  </button>
</div>


<!-- Display all the Work undertakes -->
<div class="jumbotron jumbotron-fluid">
  <div class="container" style="display: flex; font-size: 20px; margin-bottom: 5%;">
    OUR &nbsp;<div style="color: rgb(202, 140, 25);"> <b>SOLUTIONS</b></div>
  </div>
  


  <div class="row row-cols-1 row-cols-md-2" style="margin-left: 0; margin-right: 0;">
    <div class="col mb-4">
      <div class="card">
        <img src="./assets/mobileapp.jpg" class="card-img-top" alt="mobile-app-development">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>MOBILE APPLICATION DEVELOPMENT</b></h5>
          <p class="card-text" style="color: grey">INFO GOES HERE</p>

          <!-- More Information Button -->
          <button type="button" class="btn btn-outline-info">
            FOR MORE INFORMATION
            <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
          </button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="./assets/erp.jpg" class="card-img-top" alt="erp-solution-development">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>ENTERPRISE RESOURCE PLANNING APPLICATION</b></h5>
          <hr>
          <b style="color: red">NOTE: CURRENTLY WE DO NOT UNDERTAKE/MAINTAIN/CATER SUCH APPLICATIONS 
            AND WILL BE AVAILABLE SOON</b><br><br>
          <p class="card-text" style="color: grey">FOR SMALL SCALE BUSINESS, WE HELP YOU MANAGE YOUR RESOURCES AND PROJECTS 
            USING TOP-CLASS FUNCTIONALITY, AS WELL AS DELIVER INCREASEDS VALUE TO THE BUSINESS.</p>
          
          <!-- More Information Button -->
          <button type="button" class="btn btn-outline-info">
            FOR MORE ERP INFORMATION
            <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
          </button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
        <div class="card">
          <img src="./assets/outsource.jpg" class="card-img-top" alt="outsource-application">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>OUTSOURCE ALL KINDS OF APPLICATION</b></h5>
            <p class="card-text" style="color: grey">INFO GOES HERE</p>
            
            <!-- More Information Button -->
            <button type="button" class="btn btn-outline-info">
              FOR MORE INFORMATION
              <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
            </button>
          </div>
        </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="./assets/desktop.jpg" class="card-img-top" alt="desktop-based-application">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>DESKTOP BASED APPLICATION</b></h5>
          <p class="card-text" style="color: grey">INFO GOES HERE</p>
          
          <!-- More Information Button -->
          <button type="button" class="btn btn-outline-info">
            FOR MORE INFORMATION
          </button>
          <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
        </div>
      </div>
    </div>

    <div class="col mb-4">
        <div class="card">
          <img src="./assets/webapplications.jpg" class="card-img-top" alt="web-based-application">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>WEB BASED APPLICATION</b></h5>
            <p class="card-text" style="color: grey">INFO GOES HERE</p>
            
            <!-- More Information Button -->
            <button type="button" class="btn btn-outline-info">
              FOR MORE INFORMATION
              <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
            </button>
          </div>
        </div>
    </div>

  </div>

</div>

<!-- Display Our projects -->
<div class="jumbotron jumbotron-fluid"style="margin-bottom: 5%; margin-top: 5%;">
  <div class="container" style="display: flex; font-size: 20px;">
      PROUDLY WORKED ON &nbsp;<div style="color: rgb(202, 140, 25);"> <b>PROJECTS</b></div>
  </div>
  
  <div style="margin: 5%;"><p>SITE STILL ON PROGRESS</p></div>
</div>

<!-- Display Contact Us -->
<div class="jumbotron jumbotron-fluid"style="margin-top:30%; margin-bottom:0;">
  <div class="container" style="display: flex; font-size: 20px; margin-top: 2em; margin-bottom: 3em;">
      WHO WE &nbsp;<div style="color: rgb(202, 140, 25);"> <b>ARE</b></div>
  </div>

  <div class="card-deck" style="margin-left: 0; margin-right: 0;">
      <div class="card">
        <div class="single-profile"><img class="card-img-top-profile" src="./assets/kevin.JPG" alt="Card image cap"></div>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);">KEVIN PERERA</h5>
          <p class="card-text" style="color: grey">DIRECT SUPERVISOR AND DEVELOPER</p>
          <hr>

        </div>
        <div class="card-footer">
          <small class="text-muted">LINKEDIN: <a href="https://www.linkedin.com/in/kevin-perera-4a7a11174/">CLICK HERE TO VIEW PROFILE</a> </small>
        </div>
      </div>
      <div class="card">
        <div class="single-profile"><img class="card-img-top-profile" src="./assets/sahan.jpeg" alt="Card image cap"></div>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);">SAHAN PRAMINDU</h5>
          <p class="card-text" style="color: grey">NETWORK AND WEB/SERVER HOSTING DEVELOPER</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">LINKEDIN: <a href="">CLICK HERE TO VIEW PROFILE</a></small>
        </div>
      </div>
    </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
