<app-main-navbar></app-main-navbar>





<div id="logo-image">
  <!-- <div><img src="./assets/logo.png" alt="logo" style="width:48%; position: inherit;"></div> -->
  <video autoplay muted loop id="myVideo">
    <source src="./assets/intro.mp4" type="video/mp4">
  </video>

  <div class="content">
    <h1>WE ARE NOW LIVE, JOIN US TO EXPLORE MORE </h1>
  </div>
</div>

<div class="company-info-content01">
  <div class="container" style="color: white;">
    TAKING YOU TO &nbsp;<div style="color: rgb(202, 140, 25);"> <b>DIGITAL FRONTIER</b></div>
  </div>

  <p style="color: white; max-width: 45em;"><b>MARGINS ARE UDER PRESSURE AND COMPETITION IS INTENSIFYING FOR INDUSTRIAL BUSINESSES TO GROW UP.
      EFFICIENTLY MANAGING OF INDUSTRIAL ACTIVITIES BY ADOPTING TO LATEST DATA-DRIVEN, INTERGRATED
      PROCESSES AND SYSTEMS IS A KEY POINT TO BECOME ONE OF THE WIINNERS IN THE FUTURE.
      LEARN MORE ABOUT KL GLOBAL INNOVATIONS TO BECOME CHALLENGING PLAYER IN THE COMPETITIVE MARKET.</b>
  </p>
  <!-- More Information Button -->
  <button type="button" class="btn btn-outline-danger" id="company-info-content01-btn">
      FOR MORE INFORMATION
      <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
  </button>
</div>


<!-- Display all the Work undertakes -->
<div class="jumbotron jumbotron-fluid">
  <div class="container" style="display: flex; font-size: 20px; margin-bottom: 5%;">
    OUR &nbsp;<div style="color: rgb(202, 140, 25);"> <b>SOLUTIONS</b></div>
  </div>
  


  <div class="row row-cols-1 row-cols-md-2" style="margin-left: 0; margin-right: 0;">
    <div class="col mb-4">
      <div class="card">
        <img src="./assets/mobileapp.jpg" class="card-img-top" alt="mobile-app-development">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>MOBILE APPLICATION DEVELOPMENT</b></h5>
          <hr>
          <p class="card-text" style="color: grey">WE PROVIDES DIFFERENT PLATFORMS TO YOUR BUSINESS AND BRAND, TO CONNECT BUSINESS DIRECT WITH 
            USER AND MAKE BETTER ENGAGEMENT WITH HIGH PROFITS IN THE SAME TIME ON GETTING MANY BENEFITS TO
            THE COMPANY IN INCREASE OF USER BASE, BETTER BUSINESS REACH AND MAKE THE BRAND TO WORLD POPULAR IN
            MINIMUM TIME.</p>

          <!-- More Information Button -->
          <button type="button" class="btn btn-outline-info">
            FOR MORE INFORMATION
            <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
          </button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="./assets/erp.jpg" class="card-img-top" alt="erp-solution-development">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>ENTERPRISE RESOURCE PLANNING APPLICATION</b></h5>
          <hr>
          <b style="color: red">NOTE: CURRENTLY WE DO NOT UNDERTAKE/MAINTAIN/CATER SUCH APPLICATIONS 
            AND WILL BE AVAILABLE SOON</b><br><br>
          <p class="card-text" style="color: grey">FOR SMALL SCALE BUSINESS, WE HELP YOU MANAGE YOUR RESOURCES AND PROJECTS 
            USING TOP-CLASS FUNCTIONALITY, AS WELL AS DELIVER INCREASES VALUE TO THE BUSINESS.</p>
          
          <!-- More Information Button -->
          <button type="button" class="btn btn-outline-info">
            FOR MORE ERP INFORMATION
            <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
          </button>
        </div>
      </div>
    </div>


    <div class="col mb-4">
        <div class="card">
          <img src="./assets/webapplications.jpg" class="card-img-top" alt="web-based-application">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>WEB BASED APPLICATION</b></h5>
            <hr>
            <p class="card-text" style="color: grey">BOUNDARIES ON ASPECTS OF DESIGN AESTHETICS, USABILITY AND VALUE OF DEVELOPING A WEBSITE FOR
              YOUR BUSINESS IS ONE OF THE CRUCIAL BUSINESS DECISION FOR SURE.
              COMPANIES ARE INVESTING A LOT OF EFFORTS IN CUSTOMIZING THEIR APPLICATIONS TO IMPROVE CUSTOMER
              EXPERIENCE AND MAKE THE OVERALL APPLICATION SURFING INTUTIVE AND ENGAGING.
              SINCE EVERY COMPANY IS COMPLETELY DIFFERENT WITH ITS OWN CUSTOM NEEDS, CUSTOM WEB
              APPLICATION DEVELOPMENT COMPANY SHOULD INVEST CONSIDERABLE AMOUNT OF TIME IN LEARNING 
              THE BUSINESS MODEL KEY ACTIVITIES OF BUSINESS AND THEN PROPOSE A CUSTOM APP DEVELOPMENT SOULTION
              TAILORED TO SPECIFIC NEEDS.
              </p>
            
            <div style="color: rgb(29, 153, 175); padding-top: 2em; padding-bottom: 1em; font-size: 16px;"><p><b>SERVICES AND TECHNOLOGIES</b></p></div>
            <div class="row row-cols-1 row-cols-md-2" style="margin-left: 0; margin-right: 0; color: grey;">
              <div class="col mb-4">
                <b>EXPERIENCE DESIGN</b>
              </div>
              <div class="col mb-4">
                  <b>WEB CONTENT MANAGEMENT</b>
              </div>
              <div class="col mb-4">
                  <b>DEVOPS</b>
              </div>
              <div class="col mb-4">
                  <b>BIG DATA</b>
              </div>
              <div class="col mb-4">
                  <b>CUSTOM WEB DEVELOPMENT</b>
              </div>
              <div class="col mb-4">
                  <b>MOBILITY</b>
              </div>
              <div class="col mb-4">
                  <b>TESTING</b>
              </div>
              <div class="col mb-4">
                  <b>CLOUD MANAGE SERVICES</b>
              </div>
            </div>
            
            <!-- More Information Button -->
            <button type="button" class="btn btn-outline-info">
              FOR MORE INFORMATION
              <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
            </button>
          </div>
        </div>
    </div>

    

    <!-- <div class="col mb-4">
        <div class="card">
          <img src="./assets/outsource.jpg" class="card-img-top" alt="outsource-application">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>OUTSOURCE ALL KINDS OF APPLICATION</b></h5>
            <hr>
            <p class="card-text" style="color: grey">INFO GOES HERE</p> -->
            
            <!-- More Information Button -->
            <!-- <button type="button" class="btn btn-outline-info">
              FOR MORE INFORMATION
              <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
            </button>
          </div>
        </div>
    </div> -->

    <div class="col mb-4">
      <div class="card">
        <img src="./assets/desktop.jpg" class="card-img-top" alt="desktop-based-application">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>DESKTOP BASED APPLICATION</b></h5>
          <hr>
          <p class="card-text" style="color: grey">
              WE BELIEVE IN 'PERFECTION'. THOUGH A PREMIER ORGANIZATION OR VALUED BUSINESS LIKE YOURS
              MIGHT BE LOOKING FOR ENTRIE DEVELOPMENT CYCLE OR ONLY WOULD BE INTERESTED IN FEW SOLUTIONS,
              OUR GOAL AND AIM IS TO PROVIDED MAXIMUM BENEFITS TO THE CUSTOMER AT EVERY STEP WHETHER IN
              BUSINESS ANALYSIS, DESKTOP SOFTWARE ARCHITECTURE, UI DESIGN, DESKTOP SOFTWARE DEVELOPMENT, 
              QUALITY ASSURANCE OR MAY IT BE LONG-TERM MAINTENANCE.</p>
          

              <div style="color: rgb(29, 153, 175); padding-top: 2em; padding-bottom: 1em; font-size: 16px;"><p><b>TECHNOLOGIES WE RELY ON</b></p></div>
              <div style="color: grey;"><p>OUR DESKTOP APPLICATION DEVELOPMENT TEAM OF DEVELOPERS ARE ALWAYS ON THE TECH EDGE AND CONSTANTLY
                  ADAPTING IF THERE IS ANY SLIGHTEST CHANGE IN THE FOLLOWING DEVELOPMENT TOOLS AND TECHNOLOGIES.
                  COMBINING THAT WITH THE ONGOING DEVELOPMENT CYCLE SO AS TO BETTER THE REAL TIME PROCESS TO
                  PROVIDE SOLUTIONS TO GIVE YOU A SUSTAINED COMPETITIVE EDGE.</p></div>
              <div class="row row-cols-1 row-cols-md-2" style="margin-left: 0; margin-right: 0; color: grey;">
                <div class="col mb-4">
                  <b>VISUAL BASIC</b>
                </div>
                <div class="col mb-4">
                    <b>.NET</b>
                </div>
                <div class="col mb-4">
                    <b>MICROSOFT ACCESS</b>
                </div>
                <div class="col mb-4">
                    <b>JAVA DEVELOPMENT -SWING</b>
                </div>
                <div class="col mb-4">
                    <b>VISUAL C++</b>
                </div>
                <div class="col mb-4">
                    <b>C#</b>
                </div>
                <div class="col mb-4">
                    <b>MYSQL AS DATABASE FOR A BROAD SPECTRUM</b>
                </div>
                <div class="col mb-4">
                    <b>WPF</b>
                </div>
                <div class="col mb-4">
                    <b>SQL SERVER</b>
                </div>
              </div>

          <!-- More Information Button -->
          <button type="button" class="btn btn-outline-info">
            FOR MORE INFORMATION
            <img src="./assets/goto.png" class="card-img-top" alt="arrow" style="max-width: 15px">
          </button>
        </div>
      </div>
    </div>

    

  </div>

</div>

<!-- Display Our projects -->
<div class="jumbotron jumbotron-fluid"style="margin-bottom: 5%; margin-top: 50vh; height:100vh;">
  <div class="container" style="display: flex; font-size: 20px;">
      PROUDLY WORKED ON &nbsp;<div style="color: rgb(202, 140, 25);"> <b>PROJECTS</b></div>
  </div>
  
  <div style="margin: 5%; color: grey;"><p>WILL BE AVAILABLE SOON, KEEP IN TOUCH WITH US !</p></div>
</div>

<!-- Display Contact Us -->
<div class="jumbotron jumbotron-fluid"style="margin-top:50vh; margin-bottom:0;">
  <div class="container" style="display: flex; font-size: 20px; margin-top: 2em; margin-bottom: 3em;">
      WHO WE &nbsp;<div style="color: rgb(202, 140, 25);"> <b>ARE</b></div>
  </div>

  <div class="card-deck" style="margin-left: 0; margin-right: 0;">
      <div class="card">
        <div class="single-profile"><img class="card-img-top-profile" src="./assets/kevin.JPG" alt="Card image cap"></div>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);">KEVIN PERERA</h5>
          <p class="card-text" style="color: grey">FOUNDER/CEO AT KL GLOBAL INNOVATIONS</p>
          <hr>

        </div>
        <div class="card-footer">
          <small class="text-muted">LINKEDIN: <a href="https://www.linkedin.com/in/kevin-perera-4a7a11174/">CLICK HERE TO VIEW PROFILE</a> </small>
        </div>
      </div>
      <div class="card">
        <div class="single-profile"><img class="card-img-top-profile" src="./assets/sahan.jpeg" alt="Card image cap"></div>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);">SAHAN PRAMINDU</h5>
          <p class="card-text" style="color: grey">NETWORK AND WEB/SERVER HOSTING DEVELOPER</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">LINKEDIN: <a href="">CLICK HERE TO VIEW PROFILE</a></small>
        </div>
      </div>
    </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
