#logo-image{
    text-align: center;
    //margin-top: 10vh;
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-bottom: 5%;
}

// @media only screen and (max-width: 400px) {
//     #logo-image{
//         background-color: rgb(177, 42, 42);
//     }
//   }

.head-main-heading{
    display: flex;
    font-size: 30px;
    text-align: center;
    align-content: center;
}

.card:hover{
    opacity: 0.9;
}

.single-profile{

    text-align: center;

    .card-img-top-profile{
        max-width: 10em;
        border-radius: 50em;
        align-self: center;
        padding-top: 2%;
    }
}
