<app-main-navbar></app-main-navbar>


<div id="logo-image">
  <div><img src="./assets/logo.png" alt="logo" style="width:40%; position: inherit;"></div>
</div>


<!-- Display all the Work undertakes -->
<div class="jumbotron jumbotron-fluid"style="margin-top:30%;">
  <div class="container" style="display: flex; font-size: 20px; margin-bottom: 5%; margin-top: 5%;">
      TAKING YOU TO &nbsp;<div style="color: rgb(202, 140, 25);"> <b>DIGITAL FRONTIER</b></div>
  </div>
  <hr>
  <p>SOME CONTENT GOES HERE</p>


  <div class="row row-cols-1 row-cols-md-2" style="margin-left: 0; margin-right: 0;">
    <div class="col mb-4">
      <div class="card">
        <img src="./assets/mobileapp.jpg" class="card-img-top" alt="mobile-app-development">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>MOBILE APPLICATION DEVELOPMENT</b></h5>
          <p class="card-text">INFO GOES HERE</p>
          <button type="button" class="btn btn-outline-info">FOR MORE INFORMATION</button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="./assets/erp.jpg" class="card-img-top" alt="erp-solution-development">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>ENTERPRISE RESOURCE PLANNING APPLICATION</b></h5>
          <p class="card-text">INFO GOES HERE</p>
          <button type="button" class="btn btn-outline-info">FOR MORE ERP INFORMATION</button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
        <div class="card">
          <img src="./assets/outsource.jpg" class="card-img-top" alt="outsource-application">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>OUTSOURCE ALL KINDS OF APPLICATION</b></h5>
            <p class="card-text">INFO GOES HERE</p>
            <button type="button" class="btn btn-outline-info">FOR MORE INFORMATION</button>
          </div>
        </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <img src="./assets/desktop.jpg" class="card-img-top" alt="desktop-based-application">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>DESKTOP BASED APPLICATION</b></h5>
          <p class="card-text">INFO GOES HERE</p>
          <button type="button" class="btn btn-outline-info">FOR MORE INFORMATION</button>
        </div>
      </div>
    </div>

    <div class="col mb-4">
        <div class="card">
          <img src="./assets/webapplications.jpg" class="card-img-top" alt="web-based-application">
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(202, 140, 25);"><b>WEB BASED APPLICATION</b></h5>
            <p class="card-text">INFO GOES HERE</p>
            <button type="button" class="btn btn-outline-info">FOR MORE INFORMATION</button>
          </div>
        </div>
    </div>

  </div>

</div>

<!-- Display Our projects -->
<div class="jumbotron jumbotron-fluid"style="margin-bottom: 5%; margin-top: 5%;">
  <div class="container" style="display: flex; font-size: 20px;">
      PROUDLY WORKED ON &nbsp;<div style="color: rgb(202, 140, 25);"> <b>PROJECTS</b></div>
  </div>
  
  <div style="margin: 5%;"><p>SITE STILL ON PROGRESS</p></div>
</div>

<!-- Display Contact Us -->
<div class="jumbotron jumbotron-fluid"style="margin-top:30%;">
  <div class="container" style="display: flex; font-size: 20px; margin-top: 2em; margin-bottom: 2em;">
      WHO WE &nbsp;<div style="color: rgb(202, 140, 25);"> <b>ARE</b></div>
  </div>

  <div class="card-deck" style="margin-left: 0; margin-right: 0;">
      <div class="card">
        <div class="single-profile"><img class="card-img-top-profile" src="./assets/kevin.JPG" alt="Card image cap"></div>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);">KEVIN PERERA</h5>
          <p class="card-text">DIRECT SUPERVISOR AND DEVELOPER</p>
          <hr>
          <p>GITHUB PROFILE : <a href="https://github.com/SKevinPerera">CLICK HERE TO VIEW PROFILE</a></p>

        </div>
        <div class="card-footer">
          <small class="text-muted">LINKEDIN: <a href="https://www.linkedin.com/in/kevin-perera-4a7a11174/">CLICK HERE TO VIEW PROFILE</a> </small>
        </div>
      </div>
      <div class="card">
        <div class="single-profile"><img class="card-img-top-profile" src="./assets/sahan.jpeg" alt="Card image cap"></div>
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(202, 140, 25);">SAHAN PRAMINDU</h5>
          <p class="card-text">NETWORK AND WEB/SERVER HOSTING DEVELOPER</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">LINKEDIN: <a href="">CLICK HERE TO VIEW PROFILE</a></small>
        </div>
      </div>
    </div>

</div>

<!-- Footer -->
<app-footer></app-footer>
