#logo-image{
    text-align: center;
    //margin-top: 10vh;
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-bottom: 5%;
}

.head-main-heading{
    display: flex;
    font-size: 30px;
    text-align: center;
    align-content: center;
}